<head>
    <link href="/app/stylesheets/application.css" rel="stylesheet">
    <style>
    
   @media screen and (max-width: 768px){
        .line_up{
            width:90%;
            height:90%;
        }
    }
    
    </style>  

</head>
    <body>
         
        <img class="img-fluid jeoung" src="/assets/정문.png" style="width:90%; height:80%;">    
      
            <a href="/sns/main"><img src="/assets/talk.png" style="width:32%; height:32%; margin-top:20px" ></a>
            <div class="container mt-3 mb-2" style="border:1px solid #9B191A">
              <p>경희대 축제 실시간 소통 게시판입니다.
              <%= @starinfo %> <br><br><br><br><br> </p>
            </div>
            
            <div class="conatiner mt-2">
                <button class="c btn btn-outline-success" type="button" style="border-color:#9B191A;color:#9B191A; font-size:1rem" onclick="location.href='/sns/main'">댓글쓰기
                </button>
            </div>
           
       <hr>

      <img class="map" src="/assets/지도.png" style="width:50%; height:50%">       
      <img class="img_map img-fluid" src="/assets/전체지도2.jpg" style="width:80%; height:70%; text-align:center">
    
      <hr>
      
       <img class="map" src="/assets/라인.png" style="width:30%; height:30%">   
       
       <img class="line_up" src="/assets/라인업 전체.png">
       
       <hr>
      
      
      
                <img class="map" src="/assets/주점.png" style="width:50%; height:50%">       
                
             
                  <div class="margin-small mb-3" style="text-align:center">
                    <h4>
                        오늘 <%=@numofTodayClubs%> 개의 주점이 열렸습니다.<br>
                    </h4>
                  </div>
                
                    <div class="container today_link" >
                    
                    
                          
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/공대썸네일.png)">
                                  <div class="card-block" >
                                    
                                   <h3  class="card-title"> <a href="/bar/<%=@today_day%>/1"> <%=@numoftodayEngClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/외대썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/2"><%=@numoftodayForeignClub%>개 주점 보러 가기</a></h3>
                                    
                                  </div>
                                </div>
                              </div>
                        
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/예대썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/3"><%=@numoftodayAndClub%>개 주점 보러 가기</a></h3>
                                    
                                    
                                  </div>
                                </div>
                              </div>
                           
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/체대썸네일.png)">
                                  <div class="card-block">
                                    
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/4"><%=@numoftodaySportsClub%>개 주점 보러 가기</a></h3>
                                    
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/국제대썸네일.png)">
                                  <div class="card-block">
                                    
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/5"><%=@numoftodayKicClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/자대썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/6"><%=@numoftodayEniClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/생대썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/7"><%=@numoftodayClsClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/멀관썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/8"><%=@numoftodayMultimediaClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>

                      
                              <div class="col-xl-4 mb-5">
                                <div class="card ind" style="background-image:url(/assets/학관썸네일.png)">
                                  <div class="card-block">
                                    <h3 class="card-title"><a href="/bar/<%=@today_day%>/9"><%=@numoftodayStudentcenterClub%>개 주점 보러 가기</a></h3>
                                  </div>
                                </div>
                              </div>

                     

                    </div>
                
          <hr>      
                
    </body>
    
</html>