<head>
<link href="/app/stylesheets/login.scss" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
</head>
<body>
   <div class="login">
     
       <div class="container d" style="text-align:center">
        <h2 style="margin:0px"><span class="fontawesome-lock"></span>로그인</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field pt-2">
            <h5 >E-mail</h5><% f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>
        
          <div class="field">
            <h5>비밀번호</h5><% f.label :password %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>기억하기
              <% f.label :remember_me %>
            </div>
          <% end -%>
          
          <div class="log_bar">
              <div class="field ">
                <%= f.submit " 로그인 " %>
              </div>
            
              <div class="field" style="text-align:center">
             <%= render "devise/shared/links" %>
              </div>
          </div>
          
        <% end %>
      </div>  
        
        
       
       
      
        
        </body>
        
        <!doctype html>


