  
  
    <% @Bars.each do |y| %>
        <div class="card">
          <span class="card-header"><h2>주점이름 : <%= y.bar_name %></h2>&nbsp;동아리 이름 : <%= y.club_name %></span> 
          <div class="card-block">
            <h4 class="card-title">주점의 특징 : <%= y.bar_feature %></h4>
            <p class="card-text">
                     <table class="table">
                         <thead class="thead-inverse">
                             <tr>
                                  <th>#</th>
                                  <th>메뉴 이름 </th>
                                  <th>가격</th>
                             </tr>
                         </thead>
                             <tbody>
                                <% y.barmenus.each do |x| %> 
                                
                                  <tr>
                                      <th scope="row"></th>
                                      <td><%=x.menu_name%></td>
                                      <td><%=x.menu_price%></td>
                                  </tr>
                                <% end %>
                                
                            </tbody>
                     </table>
                   
              
            </p>
            <a href="#" class="btn btn-primary"><%= y.bar_location %>번 주점</a>
            
            <!-- 수정,삭제 구현-->
            <a href="/club/edit/<%=y.univ_id%>/<%=y.id%>" class="btn btn-primary">주점 정보 수정</a>
            <a href="/club/destroy/<%=y.univ_id%>/<%=y.id%>" class="btn btn-primary">주점 정보 삭제</a>
          </div>
        </div>
        <br>
        
    <% end %>       
    