<style>
  
  .btn {
      background-color:#9B191A; } 
  
  @media screen and (max-width: 768px) {
  .btn{
    font-size:0.8rem;
  }
    
  }
  
</style>
    <% if @numofBars == 0 %>
     <h3 style="text-align: center">등록된 주점이 없습니다.</h3>
    <% end %>
    <% @Bars.each do |y| %>
        <div class="card">
          <span class="card-header"><h2>주점이름 : <%= y.bar_name %></h2>&nbsp;동아리 이름 : <%= y.club_name %></span> 
          
          <div class="card-block">
            
            <p class="card-text mb-2">
                     <table class="table">
                         <thead class="thead-inverse">
                             <tr>
                                  <th>#</th>
                                  <th>메뉴 이름 </th>
                                  <th>가격</th>
                             </tr>
                         </thead>
                             <tbody>
                                <% y.barmenus.each do |x| %> 
                                
                                  <tr>
                                      <th scope="row"></th>
                                      <td><%=x.menu_name%></td>
                                      <td><%=x.menu_price%></td>
                                  </tr>
                                <% end %>
                                
                            </tbody>
                     </table>
                     <h4>주점의 특징 : <%= y.bar_feature %></h4>
                   
              
            </p>
            <a href="#" class="btn"   style="color:white"><%= y.bar_location %>번 주점</a>
              <% if user_signed_in? %>
              <% if current_user.admin %>
            
            <a href="/club/edit/<%=y.univ_id%>/<%=y.id%>" class="btn"   style="color:white">주점 정보 수정</a>
            <a href="/club/destroy/<%=y.univ_id%>/<%=y.id%>" class="btn"   style="color:white">주점 정보 삭제</a>
            <% end %>
            <% end %>
          </div>
        </div>
        <br>
        
    <% end %>       
    