<style>
  
  .btn {
      background-color:#9B191A; } 
  
  card_menu{
  font-size:1rem;
  }
  
  
  @media screen and (max-width: 768px) {
  .btn{
    font-size:0.8rem;
  }
  .card_menu{
    font-size:0.8rem
  }
    
  }
  .bar_arrangement{
    display:block;
    margin:0px auto;
  }
  
</style>
      <% case @univ_id %>
    <% when "1" %>
    <img class="bar_arrangement" src="/assets/공대배치도.png" alt="공대배치도" style="display:block" width=80% height=80% >
    <% when "2" %>
    <img class="bar_arrangement" src="/assets/외대배치도.png" alt="외대배치도" style="display:block" width=80% height=80% >
    <% when "3" %>
    <img class="bar_arrangement" src="/assets/예대배치도.png" alt="예대배치도" style="display:block" width=80% height=80% >
    <% when "4" %>
    <img class="bar_arrangement" src="/assets/체대배치도.png" alt="체대배치도" style="display:block" width=80% height=80% >
    <% when "5" %>
    <img class="bar_arrangement" src="/assets/국제대학배치도.png" alt="국제대학배치도" style="display:block" width=80% height=80% >
    <% when "6" %>
    <img class="bar_arrangement" src="/assets/자대배치도.png" alt="자대배치도" style="display:block" width=80% height=80% >
    <% when "7" %>
    <img class="bar_arrangement" src="/assets/생대배치도.png" alt="생대배치도" style="display:block" width=80% height=80% >    
    <% when "8" %>
    <img class="bar_arrangement" src="/assets/응용과학대학배치도.png" alt="응용과학대학배치도" style="display:block" width=80% height=80% >
    <% when "9" %>
    <img class="bar_arrangement" src="/assets/학생회관배치도.png" alt="학생회관배치도" style="display:block" width=80% height=80% >    
    <% end %>
    
    
    <% if @numofBars == 0 %>
     <h4 style="text-align: center">등록된 주점이 없습니다.</h4>
    <% end %>

    <% @Bars.each do |y| %>
        <div class="card card_menu" >
          <span class="card-header"><h4 style="font-size:1.3rem; font-weight:bold">주점이름 : <%= y.bar_name %></h4>동아리 이름 : <%= y.club_name %></span> 
          
          <div class="card-block pt-2">
            <h5 style="font-size:0.8rem"><%= y.bar_feature %></h5>
            <p class="card-text mb-2">
                     <table class="table">
                         <thead class="thead-inverse">
                             <tr>
                                  <th>#</th>
                                  <th>메뉴 이름 </th>
                                  <th>가격</th>
                             </tr>
                         </thead>
                             <tbody>
                                <% y.barmenus.each do |x| %> 
                                
                                  <tr>
                                      <th scope="row"></th>
                                      <td><%=x.menu_name%></td>
                                      <td><%=x.menu_price%></td>
                                  </tr>
                                <% end %>
                                
                            </tbody>
                     </table>
                     
                   
              
            </p>
            <a href="#" class="btn"   style="color:white"><%= y.bar_location %>번 주점</a>
              <% if user_signed_in? %>
              <% if current_user.admin %>
            
            <a href="/club/edit/<%=y.univ_id%>/<%=y.id%>" class="btn"   style="color:white">주점 정보 수정</a>
            <a href="/club/destroy/<%=y.univ_id%>/<%=y.id%>" class="btn" date-confirm="삭제하시겠습니까?" style="color:white">주점 정보 삭제</a>
            <% end %>
            <% end %>
          </div>
        </div>
        <br>
        
<<<<<<< HEAD
    <% end %> 
=======
    <% end %> 
>>>>>>> aa9eed9c17b7e23ac742675265fe74b05e7f0423
