<style>
  .custom-select{
      display: block;
  margin-left: auto;
  margin-right: auto;
  }
</style>
<script>
         	function btn_is_alert(){
      	  /* alert(문자열) */
      	  alert("주점 정보(메뉴 제외)가 수정되었습니다.");
      	  
      	}
  
</script>
<h1>주점내역 수정하기</h1>
<br>
<form class="form-block" action="/club/update/<%=@club_id%>" method="POST">
  
  
  
    <div class="conainer form-group">

      <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 주점 날짜 : <%=@registeredClub.day%>일</label>
      
    </div>
    
    
  <div class="conainer form-group">
             <% case @registeredClub.univ_id  %>
    <%   when  1 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 공과대학</label>
    <%   when 2 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 외국어대학</label>
    <%   when 3 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 예술대학</label>
    <%   when 4 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 체육대학</label> 
    <%   when 5 %>
             <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 국제대</label>
    <%   when 6 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 자대</label>
    <%   when 7 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 생대</label>
    <%   when 8 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 멀관</label>
    <%   when 9 %>
            <label class="mr-sm-2" for="inlineFormCustomSelect">선택된 단과 대학 : 학관</label>
    <% end %>
    
    </div>

  
  <!-- 
  <div class="form-group">
    <label for="formGroupExampleInput">소속 단과 대학 번호 입력</label>
    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="1. 공대 2. 외대 3. 예대 4. 체대 5. 국제대학 6.자대 7.생대"  name="univ_id" min="1" max="7" required>
  </div>
<br>  

    -->
    <div class="form-group">
      <label for="formGroupExampleInput">소속 학과 입력</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)컴퓨터공학과. 중앙동아리는 중앙동아리라고 적어주세요" name="department_name" value="<%=@registeredClub.department_name%>" required>
    </div>
    <br>
    
  <div class="form-group">
    <label for="formGroupExampleInput">동아리 이름</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)멋쟁이 사자처럼" name="club_name" value="<%=@registeredClub.club_name%>" required>
  </div>
<br>
  <div class="form-group">
    <label for="formGroupExampleInput">주점이름</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)흥청망청" name="bar_name" value="<%=@registeredClub.bar_name%>" required>
  </div>
<br>
<br>

  <div class="form-group">
    
  <script>
     
  </script>
  
  <% case @registeredClub.univ_id  %>
    <%   when  1 %>
              <% case @registeredClub.day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 23일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 24일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 25일 주점 지도출력-->
                    <% when 26 %>
                       <img src="/assets/26_1.jpg" alt="주점지도" width="80%" height="80%">                        <!-- 공대 26일 주점 지도출력-->                       
              <% end %>
    <%   when 2 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="/assets/전체지도2.jpg" alt="주점지도">                        <!--  22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 3 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>              
    <%   when 4 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 5 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 6 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
    <%   when 7 %>
              <% case @day %>
                    <% when 22 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 23 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 24 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 25 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                    <% when 26 %>
                       <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
              <% end %>
              
    
    <% end %>
    
  </div>



<br>
  <div class="form-group">
    <label for="formGroupExampleInput">주점 위치</label>
    <input type="number" class="form-control" id="formGroupExampleInput" placeholder="위의 지도를 보고 몇번에 위치해있는지 적어주세요." name="bar_location" value="<%=@registeredClub.bar_location%>" required>
  </div>
<br>  
  <div class="form-group">
    <label for="formGroupExampleInput">주점 특징</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="다른 주점하고 뭐가 다른가요?" name="bar_feature" value="<%=@registeredClub.bar_feature%>">
  </div>

  
  <button type="submit" class="btn btn-primary" onclick="btn_is_alert();">메뉴수정하러가기</button>
  <!-- 예외처리 해야함: 필수 사항(동아리 이름, 주점 이름, 주점 위치) 가 입력이 안되면 메뉴작성이 안되게 해야함-->
  
  
</form>
