<style>
  .custom-select{
      display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .btn {
      background-color:#9B191A; }
  
</style>
<script>
         	function btn_is_alert(){
      	  /* alert(문자열) */
      	  alert("주점 정보(메뉴 제외)가 등록되었습니다.");
      	  
      	}
  
</script>
<div class="container">
    <h1>주점내역 작성하기</h1>
    <form class="form-block" action="/club/create" method="POST">
        <div class="conainer form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">주점 날짜를 선택해주세요.</label><br>
            <%(22...26).each do |day|%>
            <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="<%=day%>"> <%=day%>일
            </label>
            <%end%>
          
          <!--<select class="custom-select ml-0" id="inlineFormCustomSelect" name="day" >
            <option value="22">22일</option>
            <option value="23">23일</option>
            <option value="24">24일</option>
            <option value="25">25일</option>
            <option value="26">26일</option>
          </select>-->
        </div>
        <label class="mr-sm-2" for="inlineFormCustomSelect">소속 단과 대학을 선택해주세요. (소속 대학이 없다면 주점 위치로 선택해주세요.)</label>
        <br>
        <%{"1"=>"공과대학", "2"=>"외국어대학", "3"=>"예술디자인대학", "4"=>"체육대학", "5"=>"국제대학", "6"=>"전자정보대학", "7"=>"생명과학대학", "8"=>"멀티미디어관", "9"=>"학생회관"}.each do |map_key, map_value|%>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio<%=map_key%>" value="<%=map_key%>"> <%=map_value%>
        </label>
        <%end%>
        
        <!--<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="univ_id" style="margin-left:0; !important">
          <option value="1">공과대학</option>
          <option value="2">외국어대학</option>
          <option value="3">예술대학</option>
          <option value="4">체육대학</option>
          <option value="5">국제대</option>
          <option value="6">자대</option>
          <option value="7">생대</option>
          <option value="8">멀관</option>
          <option value="9">학관</option>
        </select>-->
        <br>
      
      <!-- 
      <div class="form-group">
        <label for="formGroupExampleInput">소속 단과 대학 번호 입력</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="1. 공대 2. 외대 3. 예대 4. 체대 5. 국제대학 6.자대 7.생대"  name="univ_id" min="1" max="7" required>
      </div>
    <br>  
    
        -->
        <div class="form-group">
          <label for="formGroupExampleInput">소속 학과 입력</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)컴퓨터공학과. 중앙동아리는 중앙동아리라고 적어주세요" name="department_name" required>
        </div>
        
        
      <div class="form-group">
        <label for="formGroupExampleInput">동아리 이름</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)멋쟁이 사자처럼" name="club_name" required>
      </div>
    
      <div class="form-group">
        <label for="formGroupExampleInput">주점이름</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)흥청망청" name="bar_name" required>
      </div>
    
    
    
      <div class="form-group">
        
      <script>
         
      </script>
      
      /<% case @univ_id  %>
        <%   when  1 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 23일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 24일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 25일 주점 지도출력-->
                        <% when 26 %>
                           <img src="/assets/26일공대.jpg" alt="주점지도">                        <!-- 공대 26일 주점 지도출력-->                       
                  <% end %>
        <%   when 2 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!--  22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>
        <%   when 3 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>              
        <%   when 4 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>
        <%   when 5 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>
        <%   when 6 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>
        <%   when 7 %>
                  <% case @day %>
                        <% when 22 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 23 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 24 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 25 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->
                        <% when 26 %>
                           <img src="..." alt="주점지도">                        <!-- 공대 22일 주점 지도출력-->                       
                  <% end %>
                  
        
        <% end %>
        
      </div>
    
    
    
    <br>
      <div class="form-group">
        <label for="formGroupExampleInput">주점 위치</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="위의 지도를 보고 몇번에 위치해있는지 적어주세요." name="bar_location" required>
      </div>
    <br>  
      <div class="form-group">
        <label for="formGroupExampleInput">주점 특징</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="다른 주점하고 뭐가 다른가요?" name="bar_feature">
      </div>
    
      
      <button type="submit" class="btn btn-danger mb-5" onclick="btn_is_alert();" >메뉴작성하러가기</button>
      
      <!-- 예외처리 해야함: 필수 사항(동아리 이름, 주점 이름, 주점 위치) 가 입력이 안되면 메뉴작성이 안되게 해야함-->
      
      
    </form>
</div>
