<style>
  .custom-select{
      display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .btn {
      background-color:#9B191A; }
  
</style>
<script>
         	function btn_is_alert(){
      	  /* alert(문자열) */
      	  alert("주점 정보(메뉴 제외)가 등록되었습니다.");
      	  
      	}
  
</script>
<div class="container">
    <h1>주점내역 작성하기</h1>
    <form class="form-block" action="/club/create" method="POST">
        <div class="conainer form-group">
            <label class="mr-sm-2 my-3" for="inlineFormCustomSelect" style="font-weight:bold">* 는 필수 입력사항입니다.</label><br>
            <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-weight:bold">* 주점 날짜를 선택해주세요.</label><br>
            <%(22..26).each do |day|%>
              <label class="radio-inline">
              <input type="radio" id="inlineRadio<%=day%>" value="<%=day%>" name="day" required> <%=day%>일
              </label>
            <%end%>
          
          <!--<select class="custom-select ml-0" id="inlineFormCustomSelect" name="day" >
            <option value="22">22일</option>
            <option value="23">23일</option>
            <option value="24">24일</option>
            <option value="25">25일</option>
            <option value="26">26일</option>
          </select>-->
        </div>
        <label class="mr-sm-2" for="inlineFormCustomSelect" style="font-weight:bold">* 소속 단과 대학을 선택해주세요.</label>
        <br>
        <%{"1"=>"공과대학", "2"=>"외국어대학", "3"=>"예술디자인대학", "4"=>"체육대학", "5"=>"국제대학", "6"=>"전자정보대학", "7"=>"생명과학대학", "8"=>"응용과학대학", "9"=>"학생회관"}.each do |map_key, map_value|%>
        <label class="radio-inline mb-3">
            <input type="radio" name="univ_id" id="inlineRadio<%=map_key%>" value="<%=map_key%>" required> <%=map_value%>
        </label>
        <%end%>
        
        <!--<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="univ_id" style="margin-left:0; !important">
          <option value="1">공과대학</option>
          <option value="2">외국어대학</option>
          <option value="3">예술대학</option>
          <option value="4">체육대학</option>
          <option value="5">국제대</option>
          <option value="6">자대</option>
          <option value="7">생대</option>
          <option value="8">멀관</option>
          <option value="9">학관</option>
        </select>
        -->
        <br>
      
      <!-- 
      <div class="form-group">
        <label for="formGroupExampleInput">소속 단과 대학 번호 입력</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="1. 공대 2. 외대 3. 예대 4. 체대 5. 국제대학 6.자대 7.생대"  name="univ_id" min="1" max="7" required>
      </div>
    <br>  
    
        -->
        <div class="form-group">
          <label for="formGroupExampleInput" style="font-weight:bold">소속 학과 입력</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)컴퓨터공학과. 중앙동아리는 중앙동아리라고 적어주세요" name="department_name" required>
        </div>
        
        
      <div class="form-group">
        <label for="formGroupExampleInput" style="font-weight:bold">* 동아리 이름</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)멋쟁이 사자처럼" name="club_name" required>
      </div>
    
      <div class="form-group">
        <label for="formGroupExampleInput" style="font-weight:bold">* 주점이름</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="ex)흥청망청" name="bar_name" required>
      </div>
    
    
    
      <div class="form-group">
        
      <script>
      $(document).ready(function(){
          $(':radio[name="univ_id"]').click(function() {
              $(".map_img").hide();
            //var day_val=$(':radio[name="day"]:checked').val();
            var univ_val=$(':radio[name="univ_id"]:checked').val();
             // $("#"+day_val+'_'+univ_val).show();
             $("#"+univ_val).show();
            });
      });
      </script>
       <div class="map_img" id="1" style="display:none;">
        <img src="/assets/공대배치도.png" alt="공대배치도" style="display:block" width=80% height=80% >
      </div>
        <div class="map_img" id="2" style="display:none;">
        <img src="/assets/외대배치도.png" alt="외대배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="3" style="display:none;">
        <img src="/assets/예대배치도.png" alt="예대배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="4" style="display:none;">
        <img src="/assets/체대배치도.png" alt="체대배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="5" style="display:none;">
        <img src="/assets/국제대학배치도.png" alt="국제대학배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="6" style="display:none;">
        <img src="/assets/자대배치도.png" alt="자대배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="7" style="display:none;">
        <img src="/assets/생대배치도.png" alt="생대배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="8" style="display:none;">  
        <img src="/assets/응용과학대학배치도.png" alt="응용과학대학배치도" style="display:block" width=80% height=80% >
      </div>
       <div class="map_img" id="9" style="display:none;">
        <img src="/assets/학생회관배치도.png" alt="학생회관배치도" style="display:block" width=80% height=80% >
      </div>
      
      
     
      
      </div>
    
    
    
    <br>
      <div class="form-group">
        <label for="formGroupExampleInput" style="font-weight:bold">* 주점 위치</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="위의 지도를 보고 몇번에 위치해있는지 적어주세요. ex)1~3" name="bar_location" required>
      </div>
    <br>  
      <div class="form-group">
        <label for="formGroupExampleInput" style="font-weight:bold">주점 특징</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="다른 주점하고 뭐가 다른지 간단하게 적어주세요." name="bar_feature">
      </div>
    
      
      <button type="submit" class="btn btn-danger mb-5" onclick="btn_is_alert();" >메뉴작성하러가기</button>
      
      <!-- 예외처리 해야함: 필수 사항(동아리 이름, 주점 이름, 주점 위치) 가 입력이 안되면 메뉴작성이 안되게 해야함-->
      
      
    </form>
</div>
