<!DOCTYPE html>
<html>
  <head>

  <meta charset="utf-8">
    <!-- 뷰포트 메타태그! -->
  <meta name="viewport" content="width=device-width,  initial-scale=1.0"> 
  <!-- 부트스트랩 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="/app/stylesheets/application.css" rel="stylesheet">

  <title>Khu-festival</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body style="overflow-x:hidden">
  
<div class="container px-0">
  <ul class="nav justify-content-ende">
    <% if user_signed_in? %>
          <li class="col-xs-8 col-md-8"><img class="imgg " style="" src="/assets/reallion.png" width="600"></li>
          <li class="sign-in col-xs-1 col-md-1" onclick="location.href='/users/sign_in'">
          <%= current_user.name %>
          </li>
          
          <% if current_user.admin %>
          <li class="navbar-right col-xs-1 col-md-1" onclick="location.href='/club/write'">글쓰기</li>
          <% end %>
          <li class="navbar-right  col-xs-2 col-md-2" id="logout" ><%= link_to '나가기', destroy_user_session_path, method: 'delete' %>
          </li>
          
      <% else %>
      
      
      <li class="imggg"><img class="imgg "src="/assets/reallion.png" width="500"></li>
      <li class="sign-in offset-xl-4 col-xl-1 offset-lg-3 col-lg-2 col-md-1" onclick="location.href='/users/sign_in'">로그인</li>
      <li class="navbar-right col-xl-2 col-lg-2  col-md-1" onclick="location.href='/users/sign_up'">회원가입</li>
  </ul>
    <% end %>
</div>
<div class="front_menu">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item offset-xl-3 col-xl-2 col-md-1 mbfirst" onclick="location.href='/festival/index'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">HOME</button>
    </li>
    <li class="nav-item col-xl-2 col-md-1" onclick="location.href='/festival/day22'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">22일</button>
    </li>
    <li class="nav-item col-xl-2 col-md-1" onclick="location.href='/festival/day23'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">23일</button>
    </li>
    <li class="nav-item col-xl-2 col-md-1" onclick="location.href='/festival/day24'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">24일</button>
    </li>
    <li class="nav-item col-xl-2 col-md-1" onclick="location.href='/festival/day25'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">25일</button>
    </li>
    <li class="nav-item col-xl-2 col-md-1" onclick="location.href='/festival/day26'">
      <button type="button" class="b btn btn-default mb" style="background-color:#9B191A;color:white;">26일</button>
    </li>
     <li class="nav-item col-xl-2 col-md-1 mblast" onclick="location.href='/festival/info'">
       <button type="button" class="b btn btn-default" style="background-color:#9B191A;color:white;">Info</button>
    </li>
    
  </ul>
</div>

<div class="container px-0">
  <h1 style="text-align:center"> <%= flash[:alert] %> </h1>
  <%= yield %>
</div>

<div class="container footer_first">
<img class="footer_first" src="/assets/logo.png" onclick="location.href='https://www.facebook.com/kyungheelion/?fref=ts'">
</div>
</div>
 <footer class="footer">
    <div class="footer_second">
    <address><br>경희대학교 국제캠퍼스 경기도 용인시 기흥구 덕영대로 1732<br>
    COPYRIGHT 2017. LIKELION AT KYUNGHEE GLOBAL ALL RIGHT RESERVED. <br> </address>
    </div>  
  </footer>
</body>
  
 
  

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</html>
